@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*---------------------------*/
body {
  font-family: Lato; }

.header {
  box-shadow: 1px 1px 5px 0px #36383F;
  position: static;
  top: 0;
  width: 100%; }

.logo {
  max-width: 82px;
  min-width: 82px;
  margin-left: 15px; }

.navigation {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  overflow: hidden; }

.menu a {
  display: block;
  padding: 30px;
  color: #36383F;
  opacity: 1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms; }
.menu a:hover {
  opacity: 0.5; }

.navigation {
  z-index: 1;
  max-height: 0;
  transition: max-height .5s ease-out; }

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px; }

.hamb-line {
  background: #36383F;
  display: block;
  height: 2px;
  position: relative;
  width: 24px; }
  .hamb-line:before, .hamb-line:after {
    background: #36383F;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%; }
  .hamb-line:before {
    top: 5px; }
  .hamb-line:after {
    top: -5px; }

.side-menu {
  display: none; }

.side-menu:checked ~ nav {
  max-height: 100%; }

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent; }

.side-menu:checked ~ .hamb .hamb-line:before {
  transform: rotate(-45deg);
  top: 0; }

.side-menu:checked ~ .hamb .hamb-line:after {
  transform: rotate(45deg);
  top: 0; }

.presentation-block {
  width: 100%;
  position: sticky;
  text-align: center; }
  .presentation-block_image {
    width: 100%; }
  .presentation-block_text-box {
    width: 100%;
    padding: 10px; }
  .presentation-block_title {
    color: black;
    width: 106%;
    height: 80px;
    margin-top: -2.5%;
    margin-left: -3.5%;
    padding-top: 5%;
    background-color: #0057b8;
    font-size: 250%;
    font-weight: bold; }
  .presentation-block_tagline {
    color: black;
    width: 105%;
    background-color: gold;
    font-size: 150%;
    font-weight: bold;
    height: 80px;
    margin-top: 0;
    margin-left: -3%;
    padding-top: 7%; }

.join-block {
  display: flex;
  flex-direction: column; }
  .join-block_text {
    text-align: center;
    font-size: 20px;
    padding: 30px; }
    .join-block_text_hashtag {
      font-weight: bold; }
  .join-block_button_IT-Army {
    background-color: #36383F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
    .join-block_button_IT-Army:hover {
      opacity: 1; }
  .join-block_button_cyberfire {
    background-color: #36383F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
    .join-block_button_cyberfire:hover {
      opacity: 1; }
  .join-block_button_cossacks {
    background-color: #36383F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
    .join-block_button_cossacks:hover {
      opacity: 1; }
  .join-block_button_cossackschat {
    background-color: #36383F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
    .join-block_button_cossackschat:hover {
      opacity: 1; }

.footer-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #36383F; }
  .footer-block_title {
    color: #f1f1f1;
    font-size: 20px;
    text-align: center;
    padding-top: 20px; }

@media (min-width: 768px) {
  .navigation {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content; }

  .presentation-block_text-box {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -130%);
    background-color: rgba(54, 56, 63, 0.5);
    height: fit-content; }
  .presentation-block_title {
    color: #f1f1f1;
    background-color: transparent;
    font-size: 350%;
    padding-top: 2%;
    height: auto; }
  .presentation-block_tagline {
    color: #f1f1f1;
    background-color: transparent;
    font-size: 200%;
    padding-top: 10px;
    height: auto; }

  .join-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .join-block_text {
      display: block;
      text-align: center;
      font-size: 20px;
      padding: 30px; }
      .join-block_text_hashtag {
        font-weight: bold; }
    .join-block_button_IT-Army {
      background-color: #36383F;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer; }
      .join-block_button_IT-Army:hover {
        opacity: 1; }
    .join-block_button_cyberfire {
      background-color: #36383F;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer; }
      .join-block_button_cyberfire:hover {
        opacity: 1; }
    .join-block_button_cossacks {
      background-color: #36383F;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer; }
      .join-block_button_cossacks:hover {
        opacity: 1; }
    .join-block_button_cossackschat {
      background-color: #36383F;
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer; }
      .join-block_button_cossackschat:hover {
        opacity: 1; }

  .footer-block {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #36383F; }
    .footer-block_title {
      color: #f1f1f1;
      font-size: 20px;
      text-align: center;
      padding-top: 20px; }

  .menu li {
    float: left; }
  .menu a:hover {
    background-color: transparent;
    color: #36383F; }

  .hamb {
    display: none; } }

/*# sourceMappingURL=style.css.map */
