// Nullable style
@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

$color_container: #ece89d;
$color_element: #5e5373;
$color_item: #18b5a4;

body {
    font-family: Lato;
}

.block__nav {
    display: flex;
    justify-content: space-between;
    max-height: 120px;
    min-height: 120px;
    margin: 0px 110px 0px 110px;

    &_logo {
        width: 120px;
        height: 120px;
    }

    .block__navlist {
        display: flex;
        align-items: center;

        li {
            font-size: 20px;
            font-weight: bold;
            padding: 0px 20px 0px 20px;

            &:hover {
                animation-name: changeColor;
                animation-duration: 0.8s;
                color: orangered;
            }
        }
        
        &_magnify {
            width: 25px;
            height: 25px;
            margin: 0px 20px 0px 20px;
        }
    }
}

.block__presentation {
    &_text {
        font-size: 80px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_description {
        font-size: 50px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 230%);
    }

    &_otherdescription {
        font-size: 20px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 1700%);
    }

    &_join {
        font-size: 50px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 150%);
    }

    &_image {
        width: 100%;
        opacity: 0.9;
        filter: blur(1px);
    }

    &_cyberfire {
        background-color: #555555; /* Green */
        color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 17px 28px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-230%, 500%);

        &:hover {
            background-color: white;
            color: black;
            transition-duration: 0.4s;
        }
    }

    &_itarmy {
        background-color: #555555; /* Green */
        color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 17px 28px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-105%, 500%);

        &:hover {
            background-color: white;
            color: black;
            transition-duration: 0.4s;
        }
    }

    &_telegramarmy {
        background-color: #555555; /* Green */
        color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 17px 28px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, 500%);

        &:hover {
            background-color: white;
            color: black;
            transition-duration: 0.4s;
        }
    }

    &_cybercossacks {
        background-color: #555555; /* Green */
        color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 17px 28px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(120%, 500%);

        &:hover {
            background-color: white;
            color: black;
            transition-duration: 0.4s;
        }
    }
}

@keyframes changeColor {
    from {color: black;}
    to {color: orangered;}
}

